body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:slategrey;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background-color: aliceblue;
    padding: 16px;
    border-radius: 3%;
    gap: 8px;
}
.display{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 32px;
    background-color: darkolivegreen;
    padding: 8px;
    font-size: large;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}
.numberContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
}
button{
    height: 88px;
    width: 88px;
}
.operatorContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-right: 16px;
}
.clearButton{
    height: 32px;
    width: 88px;
}
.clearContainer{
    display: flex;
    justify-content: start;
    padding-left: 24px;
    padding-top: 24px;
}
.selected{
    background-color: grey;
}